/Data/*.txt
.DS_Store
Google_DL/udacity/*
Google_DL/.ipynb_checkpoints/*


Keras/.ipynb_checkpoints/
Data/*.json
Data/*.csv

LSTM/.ipynb_checkpoints/



Keras/Keras_from_scratch/Vision/*.h5
Keras/Keras_from_scratch/Vision/.ipynb_checkpoints/*
